.about-header {
    text-align: center;
}

.about-map {
   margin: 5%;
}

.about-map-section {
    border: solid 1px $blue-black;
    border-radius: 5px;-bottom: 1em;
    margin-bottom: 20px;
}

.about-map-section:hover {
    background-color: rgb(220, 235, 243);
}
 

.about-container {
    margin: 8%;
    background-color: rgb(244, 246, 250);
}

.about-section {
    border: solid 1px $blue-black;
    border-radius: 5px;
    margin-bottom: 7px;
    text-align: center;
}

.about-section:hover {
    background-color: rgb(220, 235, 243);
}