.about-header {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
}

.about-section {
    flex-grow: 1;
}

.about-map {
   margin: 2%;
}

.about-map-section {
    border: solid 1px $blue-black;
    border-radius: 5px;-bottom: 1em;
    margin-bottom: 20px;
}

.about-map-section:hover {
    background-color: $light-blue;
}
 

.about-container {
    margin: 2% 5%;
    background-color: rgb(244, 246, 250);
}

