.video-page {
    background: linear-gradient(to bottom, $light-blue , $color__primary);
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
    margin: 5% 10%;
}
  
.react-player {
    position: absolute;
    top: 0%;
    left: 0;
}
  