.login {
    height: 100vh;
}

.login-title {
    font-size: $xl-size;
    font-weight: 200;
    padding-top: 1em;
}

.login-text {
    font-size: 1.8em;
}

.login-request {
    font-size: 110%;
    padding-top: 2em;
}

