.image-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filter-text {
    outline: none;
}

.filter-title {
    outline: none;
    margin-left: 10px;
}