.members {
    height: 90vh;
    background-color: $off-white;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('/img/background/Kyu-Butokuden.jpg');
    background-size: cover;
    justify-content: left;
    width: 100vw;
}

.members-header {
    text-align: center;
    padding: 2% 0;
    color: $off-white;
}

.members-area-container {
    display: flex;
    margin-right: 20px;
    font-size: 125%;
    font-style: italic;
}

.members-area-link {
    flex: 1;
    border: solid 1px $blue-black;
    border-radius: 5px;
    padding: 50px;
    width: 200px;
    margin: 15px;
    background-color: $light-orange;
    transition: 0.3s;
    color: $color__primary;
    text-align: center;
    opacity: 0.8;
}

.members-area-link a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
}

.members-area-link:hover {
    background-color: $dark-orange;
}

@media (max-width: 400px) {
    .members-area-container {
      display: block;
    }
}