.image-title {
    text-align: center;
    margin-bottom: 0;
}

.image-header {
    border: solid 1px $blue-black;
    border-radius: 5px;
    padding: .5em 1em;
    display: flex;
    justify-content: flex-start;
}

.image-header-container {
    flex-grow: 1;
    // align-items: flex-end;
}

// CSS Grid section for all the thumbnails
.image-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.image-frame {
    border: solid 1px $blue-black;
    margin: 15px;
    padding-bottom: 5px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.image-item {
    max-width: 100%;
    padding: 5px;
    text-align: center;
}


.image-frame:hover {
    background-color: $light-blue;
    color: $color__primary;
    transition: 0.3s;
}

.upload-label {
    padding: 3%;
}

.upload-text {
    width: 90%;
    // margin-left: 5%;
}


input[type="file"] {
    display: none;
}

.upload-file {
    margin-top: 0;
    display: inline-block;
}

.upload-title {
    width: 25rem;
}

.button-end-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    margin-left: 4px;
}

.photo-button {
    margin-left: 3px;
}
