.images-uploads {
    height: 100vh;
}

.image-title {
    text-align: center;
}

.image-header {
    border: solid 1px $blue-black;
    border-radius: 5px;
    padding: 2em;
}

.image-container {
    // column-count: 3;
    // column-gap: 0;
    display: grid;
    grid-template-columns: auto auto auto;
}

.image-item {
    max-width: 100%;
    padding: 5px;
    text-align: center;
}

.image-frame {
    margin: 20px;
    // text-align: center;
}

