.images-uploads {
    height: 100vh;
}

.image-title {
    text-align: center;
}

.image-header {
    border: solid 1px $blue-black;
    border-radius: 5px;
    padding: .5em 1em;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.image-header-container {
    flex-grow: 1;
}

.image-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.image-item {
    max-width: 100%;
    padding: 5px;
    text-align: center;
}

.image-frame {
    border: solid 1px $blue-black;
    margin: 15px;
    padding-bottom: 5px;
    border-radius: 3px;
}

.image-frame:hover {
    background-color: $light-blue;
    color: $color__primary;
    transition: 0.3s;
}

.upload-label {
    padding: 3%;
}

.upload-text {
    width: 90%;
    margin-left: 1%;
}


input[type="file"] {
    display: none;
}

.upload-file {
    display: inline-block;
}

.photo-button {
    margin-left: 5px;
}
