.feed {
    margin: 0 2%;
}

.post-submit {
    margin-left: 10px;
}
.feed-container {
    margin: 0px 20px 10px 20px;
    border: solid 1px $blue-black;
    border-radius: 5px;
    padding: 1%;
    font-size: 110%;
}

.feed-container:hover {
    background-color: $light-blue;
}

.item-delete {
    float: right;
    margin-top: 0;
}