.form-group {
    padding: 10px;
}

.form-title {
    font-size: $xl-size;
    font-weight: 200;
    padding-top: 1em;
}

.form-text {
    font-size: 1.8em;
}

.form-control-large {
    width: 100%;
    font-size: 110%;
}

.input-box {
    padding: 8px;
    border: solid 1px $dark-grey;
    border-radius: 5px;
    font-size: 100%;
    transition: 0.3s;
    outline: none;
}

.input-box:hover {
  background-color: $light-blue;
}

// error messsgae
.invalid-feedback {
    color: $warning-red;
}

.spinner-container {
    background-color: $off-white;
    height: 75%;
    width: 80%;
    z-index: 999;
    overflow: hidden;
    position: absolute;
}

.spinner {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


