.form-group {
    padding: 10px;
}

.form-title {
    font-size: $xl-size;
    font-weight: 200;
    padding-top: 1em;
}

.form-text {
    font-size: 1.8em;
}

.input-box {
    padding: 10px;
    border: solid 1px $dark-grey;
    border-radius: 5px;
    font-size: 100%;
    width: 20em;
    transition: 0.3s;
}

.input-box:hover {
  background-color: $light-blue;
}

.button {
    border: solid 1px $blue-black;
    padding: .9em;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bold;
    width: 130px;
}

.button-info,
.button-small {
    margin-top: 1em;
    color: $blue-black;
    background-color: $light-orange;
    transition: 0.5s;
    outline-color: $dark-orange;
}

.button-info:hover,
.button-small:hover {
    background-color: #ffc91a;
}

.button-small {
    border: solid 1px $blue-black;
    padding: .5em;
    border-radius: 3px;
    font-size: 80%;
    font-weight: normal;
    width: 100px;
}

// error messsgae
.invalid-feedback {
    color: $warning-red;
}

.spinner-container {
    background-color: white;
    height: 90vh;
}

.spinner {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
}


