* {
  box-sizing: border-box;
}
html {
  font-size: 60%;
}

body {
  color: $dark-grey;
  font-size: $m-size;
  line-height: 1.4;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.app-wrapper {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  height: 100vh;
}

.app-container {
  color: #2c3e50;
  margin: 0;
  padding: 0;
  background-color: $off-white;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: calc(100% - 56px);
  grid-template-columns: 100%;
}

.footer {
  left: 0;
  bottom: 0;
  margin-top: 2px;
  width: 100%;
  padding: 10px 0;
  background-color: $color__primary;
  color: $off-white;
  display: -webkit-flex; /* Safari */     
  display: flex; /* Standard syntax */
  justify-content: space-between;
  height: 45px;
}

.bka-details {
  padding-left: 10px;
  display: flex;
  top: -10px;
}

.bka-link {
  width: 100%;
  color: #fff;
  font-size: 110%;
  display: flex;
  text-decoration: none;
}

.bka-logo {
  height: 25px;
  width: auto;
  padding-left: 15px;
}
