// Colors
$dark-grey: #333;
$grey: #666;
$color__primary: #262788;
$dark-blue: #364051;
$off-white: #f7f7f7;
$light-blue: #e6f7ff;
$blue-black: #000033;
$warning-red: #d63c3c;

//info button
$light-orange: #ffedb3;
$dark-orange: #ff9900;

//fontsize
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
//Spacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$s-size: 1.2rem;

$spacing: 1em;

//breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;